
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div class="menu-item red">
            <a href="#modal-electricity-control" data-toggle="modal">
                <i class="fa fa-phone"></i>
                <p><font size="5">Telefon Rehberi</font></p>
            </a>
        </div>

        <div class="menu-item light-orange">
            <a href="#" onclick="loading()">
                <i class="fa fa-fire"></i>
                <p><font size="5">Talep & Arıza Bildir</font>
                   <span style="font-size: 12px">(İdari İşler Müdürlüğü)</span>
                    </p>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="menu-item green">
            <a href="#" data-toggle="modal" data-target="#modal-red">
                <i class="fa fa-wrench"></i>
                <p><font size="5">Donanım Arızası Bildir</font>
                   <span style="font-size: 12px">(Bilgi İşlem Şefliği)</span></p>
                
            </a>
        </div>
        <div class="menu-item blue">
            
                
                <a href="#" onclick="loading()">
                    <i class="fa fa-bookmark"></i>
                    <p><font size="5">Haftalık Nöbet Listesi</font></p>
                </a>
            
        </div>
        <!-- /.modal -->
    </div>
</div>
